aside h1 { color:#d3d3d3; font-size:20px; }
aside h2 { color:#d3d3d3; font-size:18px; }
aside h3 { color:#d3d3d3; font-size:16px; }
aside h4 { color:#d3d3d3; font-size:14px; }
aside h5 { color:#d3d3d3; font-size:12px; }
aside h6 { color:#d3d3d3; font-size:11px; }

aside li { list-style:none; }

aside { white-space:nowrap; }

.footnote { 
  text-align:center;
  font-family:標楷體;
  width:20em;
  padding-top:1em;
}

body {
  background-color: #f5f5f5; 
  color: #777;
  overflow-y:scroll;
}

code {
  font-family:MingLiU, monospace;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

pre {
  border: 1px dotted #686868;
  padding: 10px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

blockquote {
  padding: 10px;
  border: 3px double #373737;
  color:#333333;  
}

a { 
  color:#336699; 
	text-decoration:none;
}

textarea {
  width:100%;
  height:70vh;
  margin:4px;
  font-family:MingLiU, monospace;
  padding:8px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h1 { font-size: 1.8em; color:#050505; text-align:center; margin:1em; font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h2 { font-size: 1.6em; color:#8B008B; /* margin-top:1em; margin-bottom:1em; */ font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h3 { font-size: 1.4em; color:#000080; font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h4 { font-size: 1.2em;  color:#4B0082; font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h5 { font-size: 1.1em;  color:#708090; font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h6 { font-size: 1.0em; color:#000080; }

p {
  font-family: 'Tahoma', 'Pmingliu';
  margin: 15px 0px 15px 0px;
  font-size:100%;
  color:#555555;
	line-height:180%;
}

table, th, td, p { 
  line-height:180% 
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #686868;
  margin-bottom: 20px;
  text-align: left;
  margin-left:auto; 
  margin-right:auto;
}

th {
  padding: 10px;
  background-color:black;
  color:white;
}

td  {
  padding: 10px 15px 10px 15px;
  vertical-align: middle;
  border: 1px solid #a0a0a0;
}


/* ------------------------- sideMenu from POS --------------------------*/
input:disabled, button:disabled {
  background: #aaa;
  color: #555;
}

/* main : 參考: https://codepen.io/legeoffrey/pen/mydrVo */
* {
  margin: 0px;
  padding: 0px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px;
  background-color: #333;
  height: 36px;
  z-index: 1;
}

header a, header a:link {
  color: white;
}

a, a:link {
  text-decoration: none;
}

main {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  /*height: 100vh;*/
  padding: 10px;
}

.gmap {
  padding: 0px;
  margin: 0px;
  width:100%;
  height:100%;
}
/*
#main {
  height: 100%;
  width: 100%;
}
*/
.italic {
  font-style: italic;
}

.logo {
  font-family: Verdana;
  color: #eeee00;
}

.wide {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.big {
  padding: 10px 15px;
  font-size: 125%;
}

.text-right {
  text-align:right;
}

.number {
  text-align:right;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.noborder {
  border: 0px;
}

.nowrap {
  white-space: nowrap;
}

.bigmargin {
  margin: 10px;
}

.strong {
  font-weight: bold;
  font-size: 120%;
}

h1, h2, h3 {
  font-family: 標楷體, 'Times New Roman';
}

p {
  line-height: 200%;
}

li {
  line-height: 160%;
}

ol, ul {
  margin: 10px 20px;
}

table {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #333;
  border-collapse: collapse;
}

div {
  margin-right: auto;
  margin-left: auto;
}

th, td {
  border: 1px solid #333;
  padding: 3px 6px;
}

th {
  background-color: #333;
  color: #ddd;
}

textarea, input, select, button, input[type=submit], input[type=reset], input[type=button] {
  border-radius: 2px;
  box-shadow: none;
  padding: 8px 6px;
  border:1px solid #888;
  font-size: 16px;
}

button, input[type=submit], input[type=reset], input[type=button] {
  /*
  border-radius: 2px;
  box-shadow: none;
  padding: 8px 12px;
  */
  border: none;
  padding: 8px 12px;
  margin: 2px 4px;
  color: white;
  cursor: pointer;
  min-width: 50px;
  background-color: #336699;
}

button.small {
  font-size: 12px;
  padding: 8px 10px;
}

.red {
  background-color:#f44336;
}

textarea {
  width: 100%;
  min-height: 150px;
}

label {
  font-weight: bold;
  color: #333;
}


input[type=number] {
  width: 4em;
}

/* 在 chrome 裏讓 input type=number 有上下箭號 */
/*
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
*/
input[type=text] {
  /* width: 20em; */
}

input.short {
  width: 10em;
}

a, a:visited {
  color: #336699;
}

footer {
  margin: 20px 20px;
  padding: 20px 20px;
  text-align: center;
  border-top: 1px dotted #ddd;
  font-size: small;
}

/* ----------------- Dropdown -----------------*/
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px 16px; 
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 8px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  min-width: 100px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #222;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:#222;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ----------------- Side Nav --------------------*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  padding: 20px 0px 5px 0px;
}

.sidenav h1, .sidenav h2, .sidenav h3, .sidenav h4, .sidenav h5, .sidenav h6 {
  padding-left: 16px;
}  

.sidenav a {
  padding: 4px 4px 4px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #ddd;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 28px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
/*.sidenav a {font-size: 18px;} */
}